lcov.info
html-report
browser_modules
node_modules
saucelabs
testingbot
browserstack
coverage-final.json
coverage/
_build/
_examples/
_tests/
_publish/
src/**/*.js
selenium-standalone/
benchmark.json
baselines.json
baseline.json
*.tgz
