# We want to keep tests/example.intern.js but npm
# does not seem to allow us to unignore files
*.tgz
.github/
.travis.yml
browser_modules/
examples/
src/

support/*
!support/fixdeps.js

tests/*
!tests/example.intern.js
