sudo: false
language: node_js
node_js:
  - lts/*
  - node
env:
  global:
    # Please get your own free key if you want to test yourself
    - BROWSERSTACK_USERNAME=sitepenlabs1
    - BROWSERSTACK_ACCESS_KEY=xm1uYrJuV3gZMJqCyZJX
  matrix:
    - INTERN_ARGS="environments="
    - INTERN_ARGS=""
matrix:
  exclude:
    # Exlude the matrix run with node latest && INTERN_ARGS="" (which means
    # only include the one that does *not* run tests on remote environments)
    - node_js: node
      env: INTERN_ARGS=""
    # Exlude the matrix run with node lts && INTERN_ARGS="environments=" (which
    # means only include the one that does *not* run tests on remote
    # environments)
    - node_js: lts/*
      env: INTERN_ARGS="environments="
cache:
  directories:
    - node_modules
    - "~/.pnpm-store"
before_install:
  - curl -L https://unpkg.com/@pnpm/self-installer | node
  - pnpm config set store-dir ~/.pnpm-store
install:
  - pnpm install
  - pnpm install -g codecov
script:
  - pnpm test && codecov
notifications:
  slack:
    secure: C/WcvljPsSP1xYcV+YplPdHzzKDu1YmFvcHkWrkY/pNoTt1N+mqOM6sDjvD8VCyYtoC5+QaVZUKAXSb8j1J3gtNiRsaoSauikHhN8t1z1ENulrqxBpYbQ1MatxxFM7zDeVaRGlqu3vnEGZqsrJX5mwS8+N8Gy0T8deMNCdnJTAg=
