@import "html_assets/variables";

body {
	background: $bodyBackground;
	color: $bodyTextColor;
	font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin:0;
	padding-top:0;
	padding-bottom:2em;
}

.internReportContainer {
	margin:0 auto;
	width:75%;
}

.reportHeader {
	background:#fff;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	margin:0 0 1em 0;
	padding:0.6em;
	text-align:center;

	.headerLogo {
		height:45px;
		margin-right:10px;
		vertical-align:middle;
	}
	.headerTitle {
		color:$headingColor;
		font-size:1em;
		font-weight:300;
		padding-top:3px;
		vertical-align:middle;
	}
}

.summary {
	border-collapse: collapse;
	margin-bottom:2.5em;
	width:100%;


	td {
		color:$summaryTextColor;
		font-size:1em;
		text-transform:uppercase;
		font-weight:normal;
		padding:0;
		text-align:center;
		vertical-align:top;
		width:20%;

		.summaryContent {
			background:$summaryTopBackground;
			border:1px solid $summaryBorderColor;
			border-radius:6px 6px 0 0;
			margin:0 auto;
			margin-right:1em;
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);

			&.suites {
				summaryIcon($suiteIcon);
			}

			&.tests {
				summaryIcon($testIcon);
			}

			&.failed {
				background:$failedColor;
				color:#fff;
				summaryIcon($failedIcon);
				.summaryTitle {
					border-color:darken($failedColor, 20%);
					color:$summaryTextColor;
				}
				&.success {
					margin-right: 1em;
				}
			}

			&.success {
				background:darken($passedColor, 20%);
				color:#fff;
				margin-right:0;
				summaryIcon($passedIcon);
				.summaryTitle {
					border-color:darken($passedColor, 20%);
					color:$summaryTextColor;
				}

			}

			&.duration {
				background:$summaryTopBackground;
				summaryIcon($durationIcon);
			}

			.summaryTitle {
				background:#fff;
				border:1px solid $summaryBorderColor;
				border-radius:14px;
				display:inline-block;
				padding:0.2em 1em;
				position:relative;
				top:10px;
				z-index:3;
			}

			.summaryData {
				background:$summaryBottomBackground;
				box-sizing:border-box;
				color:$summaryTextColor;
				font-size:36px;
				font-weight:300;
				height:75px;
				padding:0.5em 0.25em;
				text-align: center;
			}
		}
	}
}

.failedFilter {
	padding:0 0 1em 0;
	color:$reportTextColor;
	input {
		margin-right:0.5em;
	}
}

.report {
	background-color: #fff;
	border-collapse: collapse;
	color:$reportTextColor;
	width: 100%;

	td {
		padding: 0.7em;
		border-left: 1px solid $cellBorderColor;
		border-right: 1px solid $cellBorderColor;
	}

	.suite {
		background: $sectionHeadingBackground;

		td {
			border:1px solid darken(@background, 20%);
			&.title {
				font-size: 15px;
				font-weight: bold;
			}
			&.duration {
				text-align:right;
			}
		}
		testStatusIcon(darken($sectionHeadingBackground, 20%), darken($sectionHeadingBackground, 70%), $suiteIcon);

		&.indent {
			background: lighten($sectionHeadingBackground, 60%);
			td {
				border-color:darken(@background, 20%);
			}
			.testStatus {
				background:darken(@background, 10%);
				&:before {
					font-size:17px;
				}
			}
		}
	}

	.testResult {
		transition:background 0.3s ease;

		td {
			border-width:1px;
			border-style: solid;
			border-color:$cellBorderColor;
			&.duration {
				text-align:right;
			}
		}

		&.passed {
			testStatusIcon(lighten($passedColor, 70%), $passedColor, $passedIcon)

			&:hover {
				background:lighten($passedColor, 90%);
			}
			.testStatus:before {
				font-weight:bold;
			}
		}

		&.failed {
			background: lighten($failedColor, 65%);
			testStatusIcon(lighten($failedColor, 70%), $failedColor, $failedIcon);
			td {
				border-color:lighten($failedColor, 40%);
				border-bottom:0;
			}
			.testStatus {
				border-bottom:0;
				border-color:lighten($failedColor, 40%);
				&:before {
					font-weight:bold;
				}
			}
			&:hover {
				background:lighten(@background, 20%);
			}
		}

		&.lastTest {
			td,
			.testStatus {
				border-bottom:0;
			}
		}
	}

	.indent1 {
		padding-left:2em;
	}
	.indent2 {
		padding-left: 4em;
	}
	.indent3 {
		padding-left: 6em;
	}
	.indent4 {
		padding-left: 8em;
	}
	.indent5 {
		padding-left: 10em;
	}
}

.testStatus {
	width:20px;
	border-bottom:0;
}

.hidden {
	display:none;
}
